<navbar model="ctrl.navModel"></navbar>

<div class="page-container">
	<div class="page-header">
		<h1>Projects</h1>
		<a class="btn btn-success" href="projects/new">
			<i class="fa fa-plus"></i>
			Add Project
		</a>
	</div>

	<section class="card-section" layout-mode>
    <layout-selector></layout-selector>

		<ol class="card-list" >
			<li class="card-item-wrapper" ng-repeat="project in ctrl.projects">
				<a class="card-item" href="projects/edit/{{project}}/">
					<div class="card-item-header">
						<div class="card-item-type">
							{{project}}
						</div>
					</div>
					<div class="card-item-body">
						<figure class="card-item-figure">
							<img ng-src="{{project}}">
						</figure>
						<div class="card-item-details">
							<div class="card-item-name">
								{{project}}
							</div>
						</div>
					</div>
				</a>
			</li>
		</ol>
	</section>

	<div ng-if="ctrl.projects.length === 0">
		<em>No projects defined</em>
	</div>

</div>
