<navbar model="ctrl.navModel"></navbar>

<div class="page-container" style="max-width:100%;">

  <div class="page-header">
    <h1 ng-show="ctrl.isNew">Add Project</h1>
    <h1 ng-hide="ctrl.isNew">Edit data source</h1>

  </div>
  <wizard on-finish="finishedWizard()" on-cancel="cancelledWizard()" indicators-position="top">
    <wz-step wz-title="{{formTemp[0].sectionGroup || formTemp[0].title}}"  ng-repeat="formTemp in ctrl.forms track by $index"
             wz-disabled="{{(formTemp[0].condition ? !$eval(formTemp[0].condition) : false)}}">
      <p>&nbsp;</p>
      <form sf-schema="ctrl.schema" sf-form="formTemp" sf-model="ctrl.model" class="gf-form-group"
            name="{{formTemp[0].sectionGroup || formTemp[0].title}}" sf-options="{ validationMessage: { 202: 'Not in the correct format' }}"></form>
      <input type="submit" class="btn btn-success" ng-click="ctrl.exitValidation()" value="Continue" ng-show="!$last"/>
      <input type="submit" class="btn btn-success" ng-click="ctrl.saveChanges()" value="Add" ng-show="$last"/>
    </wz-step>
  </wizard>
</div>


